include header 
body(style="background:#aaa")
include navbar
.containet.mt-5.d-flex.justify-content-around(style="flex-wrap:wrap")
  each db, i in  data
    .card(style="width: 18rem").mx-2.my-5
      img.card-img-top.w-75.h-75.mx-auto.my-2(src=db.img alt='...')
      ul.list-group.list-group-flush
          li.list-group-item= db.name 
          li.list-group-item= db.manufacturer 
          li.list-group-item= db.price
      .card-body
      #accordionExample.accordion
      .accordion-item
        h2#headingOne.accordion-header
          button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target=`#demo${i}` aria-expanded='true' aria-controls='collapseOne')
            | Batafsil ma'lumot
        .collapseOne4.accordion-collapse.collapse.show(aria-labelledby='headingOne' id=`demo${i}` data-bs-parent='#accordionExample' )
          .accordion-body=db.comment
        .row
          .col-md-4
              ion-icon.m-2( name="eye")
              span= db.views
          .col-md-4
            a(href="/add/del"+db.id) 
              ion-icon.m-2.mx-5( name="trash")
          .col-md-4
            a(href="/add"+db.id) 
              ion-icon.m-2(name="settings")
        .row
          .col-md-12.text-center= db.date.toDateString()
          

  